@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,400&display=swap");

* {
	margin: 0;
	padding: 0;
}

:root {
	--primary: rgb(26, 117, 255);
	--secondary: rgb(255, 204, 0);
	--bg: rgb(235, 235, 255);
	--whitespace: rgb(255, 255, 245);
	font-family: "Rubik";
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	display: grid;
	grid-template: 160px 1fr/275px 1fr;
	grid-template-areas: "side nav" "side main";
}

.sidebar {
	color: var(--whitespace);
	grid-area: side;
	background-color: var(--primary);
}

.dash-header {
	font-size: 18px;
	padding: 0.75rem 0;
	margin-left: 2rem;
	display: flex;
	white-space: nowrap;
	align-items: center;
}

li {
	font-size: 20px;
	margin-left: 2rem;
    margin-bottom: 0.25rem;
	display: flex;
	white-space: nowrap;
	align-items: center;
}

.dash-header::before {
	content: url(./assets/view-dashboard.svg);
	position: relative;
	left: -10px;
	bottom: -2px;
}
.home::before {
	content: url(./assets/home.svg);
	position: relative;
	left: -10px;
	bottom: -2px;
}

.profile::before {
	content: url(./assets/card-account-details-outline.svg);
	position: relative;
	left: -10px;
	bottom: -2px;
}

.messages::before {
	content: url(./assets/message.svg);
	position: relative;
	left: -10px;
	bottom: -2px;
}

.history::before {
	content: url(./assets/history.svg);
	position: relative;
	left: -10px;
	bottom: -2px;
}

.tasks::before {
	content: url(./assets/note-multiple.svg);
	position: relative;
	left: -10px;
	bottom: -2px;
}

.community::before {
	content: url(./assets/account-multiple.svg);
	position: relative;
	left: -10px;
	bottom: -2px;
}

.settings::before {
	content: url(./assets/cog.svg);
	position: relative;
	left: -10px;
	bottom: -2px;
}

.support::before {
	content: url(./assets/comment-question.svg);
	position: relative;
	left: -10px;
	bottom: -2px;
}

.privacy:before {
	content: url(./assets/shield-account-outline.svg);
	position: relative;
	left: -10px;
	bottom: -2px;
}

.links {
	margin-bottom: 1rem;
}

.navbar {
	grid-area: nav;
	background-color: var(--whitespace);
}

.top {
	display: flex;
    padding: 10px 0; 
}

.search-icon {
	content: url(./assets/magnify.svg);
    padding: 0 2rem;
}

.search-bar {
	background-color: var(--bg);
	border-radius: 10px;
    margin: 10px 0;
	flex: 1;
}

.alert-icon {
	content: url(./assets/bell-ring-outline.svg);
	padding: 0 2rem;
}

.user {
	margin-right: 5rem;
    align-self: center;
}

.user-icon {
    content: url(./assets/user.png);
    height: 50px;
    width: 50px;
    margin-right: 2rem;    
}

.user-icon-2 {
    content: url(./assets/user.png);
    height: 80px;
    width: 80px;
    margin-left: 2rem;    
}

.welcome {
	margin-left: 1rem;
    flex: 1;
}
.bottom {
	display: flex;
    align-items: center;
}

.buttons {
	justify-self: end;
	align-self: center;
    margin-right: 4rem;
}

button {
	border-radius: 30px;
	width: 80px;
	height: 30px;
	margin: 0 0.5rem;
	background-color: var(--primary);
	color: var(--whitespace);
	font-weight: 700;
}

.left-box,
.right-upper,
.right-lower {
	padding: 0.75rem;
}

.header {
	margin: 0.5rem 0;
}

.content {
	grid-area: main;
	background-color: var(--bg);
	display: grid;
	grid-template: 1fr 1fr/2fr 1fr;
	grid-template-areas: "left r1" "left r2";
}

.left-box {
	grid-area: left;
}

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-template-rows: 1fr;
	gap: 15px;
}

.card {
	background-color: var(--whitespace);
	border-radius: 15px;
	height: 150px;
	border-left: 10px outset var(--secondary);
	padding: 2rem;
    box-shadow: 1px 3px 3px black;
}

.name {
	padding-bottom: 0.75rem;
}

p {
	font-size: 13px;
}

.right-upper {
	grid-area: r1;
}

.trending,
.announcements {
	background-color: var(--whitespace);
	border-radius: 15px;
	padding: 2rem;
	display: grid;
	gap: 1.5rem;
}

.right-lower {
	grid-area: r2;
}
